<% include partials/header %>
<div class="container" style="z-index: 1;">
    <div class="row">
  <h1>
	CB Platinum Inspections System
</h1>
		
<p>
	Welcome to the CB Platinum Inspections System
</p>

<a href="/properties" class="btn btn-primary">View Properties</a>
		</div>
</div>
<% include partials/footer %>